# Assurer que les fichiers sensibles ne sont pas trackés même s'ils sont ajoutés par erreur
src/main/resources/application.properties linguist-generated
src/main/resources/*firebase-adminsdk*.json linguist-generated
